.booksCart{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;   
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.2), 0 0 20px rgba(0,0,0,0.2);
    margin: auto;
    
}

.booksCart h1{
    text-align: center;
}